@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideUp {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .slide-up {
    animation: slideUp 1s ease-in-out;
  }